<h1>Edit the restaurant</h1>

<%= form_with(model: @restaurant, local: true) do |form|%>

<div>
    <%= form.label :name %><br>
    <%= form.text_field :name, class:"form-control" %>
</div>

<div>
    <%= form.label :address %><br>
    <%= form.text_field :address, class:"form-control" %>
</div>
<div>
    <%= form.label :cuisine %><br>
    <%= form.text_field :cuisine, class:"form-control" %>
</div>
<div>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url, class:"form-control" %>
</div>
<div>
    <%= form.label :description %><br>
    <%= form.text_field :description, class:"form-control" %>
</div>



 <p>
    <%= form.submit class:"btn btn-primary m-2" %>
  </p>

  <%= link_to "back", restaurants_path, class:"btn btn-secondary m-1"%>


<% end%>