<h1 class="m-3">Edit the restaurant</h1>

<div style="margin-bottom:80px;">
<%= form_with(model: @restaurant, local: true) do |form|%>

<div>
    <%= form.label :name, class:"h4 m-3" %><br>
    <%= form.text_field :name, class:"form-control m-3 w-50" %>
</div>

<div>
    <%= form.label :address, class:"h4 m-3" %><br>
    <%= form.text_field :address, class:"form-control m-3 w-50" %>
</div>
<div>
    <%= form.label :cuisine, class:"h4 m-3" %><br>
    <%= form.text_field :cuisine, class:"form-control m-3 w-50" %>
</div>
<div>
    <%= form.label :image_url, class:"h4 m-3" %><br>
    <%= form.text_field :image_url, class:"form-control m-3 w-50" %>
</div>
<div>
    <%= form.label :description, class:"h4 m-3" %><br>
    <%= form.text_field :description, class:"form-control m-3 w-50" %>
</div>

 <p>
    <%= form.submit class:"btn btn-primary m-3" %>
  </p>

  <%= link_to "back", restaurants_path, class:"btn btn-secondary m-3"%>


<% end%>
</div>