<h1>All restaurants:</h1>
<div><%= link_to "Add a restaurant", new_restaurant_path%></div>


<% @restaurants.each do |restaurant|%>

<div><%= restaurant.name%></div>
<div><%= restaurant.cuisine%></div>
<img src =<%= restaurant.image_url%> width="500px">
<div><%= link_to "See detail", restaurant_path(restaurant)%></div>
<div><%= link_to "Make change", edit_restaurant_path(restaurant)%></div>

<% end %>