<% if user_signed_in?%>
<div style="margin-left:200px;"><%= link_to "Add a restaurant", new_restaurant_path, class:"btn btn-secondary m-3"%></div>
<% else%>
 <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
  <%= @notice%>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
<% end %>

<div class="d-flex flex-row bd-highlight mb-3 flex-wrap justify-content-center">
<% @restaurants.each do |restaurant|%>


    <div class="card" style="width: 25rem; margin:50px;">
      <img src=<%= restaurant.image_url%> class="card-img-top" alt="..." height="250px">
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.name%></h5>
        <p class="card-text">Type of cuisine:<span class="badge bg-warning text-dark m-2"><%= restaurant.cuisine%></span></p>
        <div class="d-flex flex-row">
            <div><%= link_to "See detail", restaurant_path(restaurant), class:"btn btn-secondary m-1"%></div>
            <div><%= link_to "Make change", edit_restaurant_path(restaurant), class:"btn btn-warning m-1"%></div>
            <div><%= link_to "Delete", restaurant_path(restaurant), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger m-1"%></div>   
        </div>
      </div>
    </div>


<% end %>
</div>