<h1>Add a new restaurant</h1>

<%= form_with scope: :restaurant, url: restaurants_path, local:true do |form|%>

<div>
    <%= form.text_field :name, class:"form-control m-2 mt-4", placeholder:"Restaurant name" %>
</div>

<div>

    <%= form.text_field :address, class:"form-control m-2", placeholder:"Restaurant address" %>
</div>
<div>
    <%= form.text_field :cuisine, class:"form-control m-2", placeholder:"What Cuisine"  %>
</div>
<div>
    <%= form.text_field :image_url, class:"form-control m-2", placeholder:"Please provide a image url"  %>
</div>
<div>
    <%= form.text_field :description, class:"form-control m-2", placeholder:"Give a description"  %>
</div>
<div>
    <%= form.number_field :user_id, id: :restaurant_user_id, class:"form-control m-2", value: current_user.id, type: :hidden  %>
</div>



 <p>
    <%= form.submit class:"btn btn-primary m-3"%>
  </p>

  <%= link_to "back", restaurants_path, class:"btn btn-secondary m-3"%>


<% end%>