<div class="d-flex flex-row m-5">
    <div class="restaurant">
      <h1 class="m-2">
        <strong>Restaurant name:</strong>
        <%= @restaurant.name %>
      </h1>
      
      <h2 class="m-2">
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </h2>
      <h3 class="m-2">
        <strong>Cuisine:</strong>
        <span class="badge bg-warning text-dark m-2"><%= @restaurant.cuisine %></span>
      </h3>

      <p>
        <img src=<%= @restaurant.image_url %> alt="restaurant" width="500" >
      </p>

      <p>
        <div><strong>Description:</strong></div>
        <div style="border: 1px solid grey; max-width:auto; padding:10px; border-radius:15px; margin-top:15px"><%= @restaurant.description %></div>
      </p>

      <%= link_to "Back", restaurants_path, class:"btn btn-primary m-2"%>
      <%= link_to "Edit information", edit_restaurant_path(@restaurant), class:"btn btn-secondary m-2"%>
    </div>

  <div class="review m-5">
    
    <div class="m-3">
      <% if @restaurant.reviews.any? %>
        <h2>All reviews:</h2>
      <% end%>
        <% @restaurant.reviews.each do |review|%>
          <div class="m-4" style="border:2px solid orange; max-width:500px; padding:10px; border-radius:15px;">
            <h4><%= review.person %>:</h4>
            <%= review.body %>
            <% if current_user.id == @restaurant.user_id%>
            <p>
              <%= link_to "delete", [review.restaurant, review], method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-danger btn-sm mt-2"%>
            </p>
            <% end%>
          </div>
        <% end%>

        
    <% if user_signed_in?%>
    <h2>Add a review:</h2>

    <%= form_with model: [ @restaurant, @restaurant.reviews.build ] do |form| %>
      <p>
        <%= form.text_field :person, placeholder:"You are:" %>
      </p>
      <p>
        <%= form.text_area :body, placeholder:"How's this restaurant"%>
      </p>
      <p>
        <%= form.submit class:"btn btn-primary" %>
      </p>

        
    <% end%>
    <% else%>
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
      <%= @notice%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
    <%= link_to "Sign Up", new_restaurant_path, class:"btn btn-primary"%>
    <%= link_to "Sign In", new_user_session_path, class:"btn btn-secondary"%>
    <% end%>
  </div>

</div>